<div class="controls">
  <div class="result" *ngIf="state === 'VISIBLE'">
    <div class="total">
      <span class="label">Total</span>
      <span>
        {{ totalQuantity$ | async | number: "1.0-0" }} l
      </span>
    </div>
    <div class="guess">
      <span class="label">Your Guess</span>
      <span>
        {{ guess$ | async | number: "1.0-0" }} l
      </span>
    </div>
  </div>
  <div class="button">
    <button *ngIf="state === 'VISIBLE'" (click)="restartButtonClicked()">
      Start over
    </button>
  </div>
  <div class="guess" *ngIf="state === 'RESETTING' || state === 'HIDDEN'">
    <div class="label">
      {{ state === 'RESETTING' ? 'Resetting...' : 'Enter your guess:' }}
    </div>
    <input type="number" (keydown.enter)="guessSubmitted()" [(ngModel)]="guess" [disabled]="state === 'RESETTING'" #guessInput/>
    <button (click)="guessSubmitted()" [disabled]="state === 'RESETTING'">✅</button>
  </div>
</div>
