<div class="controls">
  <div class="result" *ngIf="state === 'VISIBLE'">
    <div class="result-guess">
      <span class="label">Your Guess</span>
      <span class="value">{{ guess | number: "1.0-0" }} l</span>
    </div>
    <div class="result-total">
      <span class="label">Total</span>
      <span class="value">{{ totalQuantity | number: "1.0-0" }} l</span>
    </div>
    <div class="result-error">
      <span class="label">Error</span>
      <span class="value">{{ error | number: "1.0-0" }} l</span>
    </div>
    <div class="result-time">
      <span class="label">Time Taken</span>
      <span class="value">{{ time }} s</span>
    </div>
  </div>
  <div class="button">
    <button *ngIf="state === 'VISIBLE'" (click)="restartButtonClicked()">
      Start over
    </button>
  </div>
  <div class="timer" *ngIf="state === 'HIDDEN'">{{ time }} s</div>
  <div class="guess" *ngIf="state === 'RESETTING' || state === 'HIDDEN'">
    <div class="label">
      {{ state === "RESETTING" ? "Resetting..." : "Enter your guess:" }}
    </div>
    <div class="inputs">
      <input
        type="number"
        (keydown.enter)="guessSubmitted()"
        [(ngModel)]="guessModel"
        [disabled]="state === 'RESETTING'"
        #guessInput
      />
      <button (click)="guessSubmitted()" [disabled]="state === 'RESETTING'">
        ✔️
      </button>
    </div>
  </div>
</div>
