<div class="container">
  <div class="header">
    <h1>Fuel Gage Trainer</h1>
    <h3>for Robinson R44</h3>
    <p>
      Practice makes perfect! If you are like me and reading the fuel gages on
      the R44 takes a lot longer than it should, this tool is for you.
    </p>
    <p>The gages assume R44s with bladder tanks.</p>
  </div>
  <app-fuel-gages
    class="gages"
    [tanks]="tanks"
    [showOverlay]="showOverlay"
  ></app-fuel-gages>
  <app-controls
    class="controls"
    [totalCapacity]="totalCapacity"
    [state]="fuelGagesState"
    [time]="time"
    [result]="result"
    (restartButtonClicked$)="restartButtonClicked()"
    (guessSubmitted$)="guessSubmitted($event)"
    (overlayToggled$)="overlayToggled($event)"
  ></app-controls>
</div>
