@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --white: #fefaf6;
  --beige: #eadbc8;
  --beige-dark: #dac0a3;
  --navy: #102c57;

  --gray-100: hsl(232, 6%, 25%);
  --gray-300: hsl(232, 6%, 35%);
  --gray-800: hsl(232, 6%, 85%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--navy);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h3,
h5 {
  margin: 0;
}
